.app {
    height: 100%;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

article {
    user-select: text;
}

@media screen and (min-width:1024px) {
    .navbar>.container {
        max-width: 96%;
        max-width: 96vw;
    }
}

.has-navbar-fixed-top {
    padding-top: 3.25rem
}

.navbar-item.is-tab {
    border: none
}

.navbar-burger span {
    height: 2px;
}

.navbar-burger span:nth-child(1) {
    top: calc(50% - 7px);
}

.navbar-burger.is-active span:nth-child(1) {
    transform: translateY(6.5px) rotate(45deg);
}

.notification.notification-element {
    position: absolute;
    margin: 4pc;
}

.content-scrollable {
    overflow: auto;
    height: inherit;
}